body {
    background-color:#033E3E;
    color: #ffffff;
    margin: 0;
    padding: 50px;
    line-height: 1.5;
    margin-left: 200px;
    margin-right:200px;

  }
h1{
    font-family:'Oswald', sans-serif;
    font-size:40px;
    color:#7FFFD4;

}
h2{
  font-family:'Oswald',sans-serif;
  font-size:25px;
  color:#3EA99F;
}
h3{
  font-family:'Mukta',sans-serif;
  font-size:18px;
  color:#FBE7A1
}
h4{
  font-family:'josefin san', sans-serif;
  font-size:14;

}
