body {
    background-color:#D3B79A;
    color: #ffffff;
    margin: 0;
    padding: 50px;
    line-height: 1.5;
    margin-left: 200px;
    margin-right:200px;

  }
h1{
    font-family:'Oswald', sans-serif;
    font-size:40px;
    color:#7F00FF;

}
h2{
  font-family:'Oswald',sans-serif;
  font-size:20px;
  color:#5D3FD3;
}
h3{
  font-family:'Mukta',sans-serif;
  font-size:20px;
  color:#FBE7A1
}
h4{
  font-family:'josefin san', sans-serif;
  font-size:12;

}
