body{
 background-color:#C3AAA5;
  margin:0;
  padding:0;
}
h1{
  text-align: center;
  top margin: 40px;
  font-family: "Jura", sans-serif;
  font-weight: bold;
}
h2{
  text-align: center;
  color: white;
  font-family:"Righteous",cursive;


}

  .box {
      font-family: "Josefin",sans-serif;
      background-color: #white;
      margin: 20px 300px 20px 300px;
      padding: 10px;
      font-size: 15px;
      border: solid 2px #808080;
      text-align: center;
      min-width: 200px;
  }
